body {
  background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgb(70, 252, 252) 100%
  );
}

.board {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.clock-card {
  color: #ffffff;
  border-radius: 15px;
  background-color: #1017417c;
  padding: 20px;
  margin: 15px;
  width: 200px;
}
.header {
  margin: 20px;
  background-color: rgb(0, 0, 58);
  color: #ffffff;
  padding: 20px 0;
  font-size: xx-large;
  text-align: center;
}

@media screen and (min-width: 767px) {
  .board {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
